pkgbase = vibeveil
	pkgdesc = Universal music-driven dynamic wallpaper and semantic desktop theming engine in Rust
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/jxoesneon/vibeveil
	arch = x86_64
	arch = aarch64
	license = MIT
	license = Apache-2.0
	makedepends = cargo
	depends = gcc-libs
	depends = ffmpeg
	optdepends = hyprland: dynamic wallpaper compositor and border coloring
	optdepends = hyprlock: dynamic lockscreen color synchronization
	optdepends = mpvpaper: hardware-accelerated live video wallpaper playback
	optdepends = swww: animated wallpaper daemon
	optdepends = rofi-wayland: modern interactive control center switcher
	optdepends = wofi: alternative Wayland application launcher and switcher
	optdepends = libnotify: desktop notifications
	source = vibeveil-0.2.0.tar.gz::https://github.com/jxoesneon/vibeveil/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = SKIP

pkgname = vibeveil
